
.clicked-colour {
    background-color: #0C1226;
    color: #fff;
    padding: 12px 35px;
    border-radius: 50px;
    margin: 0 0 60px 0;
    transition: 0.7s ease-in;
    opacity: 0;
}

.clicked-colour.active {
    opacity: 1;
}

.clicked-colour h5 {
    font-size: 0.8rem;
    font-weight: 200;
    letter-spacing: 0.2px;
}

.colour-header {
    padding-bottom: 5rem;
}

.colour-palette-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.colour-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff ;
    height: 10rem;
    width: 6rem;
    padding: 10px;
    margin: 10px;
    border-radius: 1.5rem;
    box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in;
    cursor: pointer;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}


.colour-value.success {
    background-color: #fff;
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    transition: transform 0.2s ease-in-out;
    transition: transform 0.1s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.colour-value.colour-value.success .colour-value-text {
    color: #161C2F;
}

.colour {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.colour-value-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 5px 0 ;
    color: #898D97;
    font-weight: 700;
}

.colour-value-text.clicked {
    color: #161C2F;
}

.generate-colour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    transform: scale(1.02);
    transition: 0.2s ease;
}

.btn:focus {
    outline: none;
}

.btn-secondary-text {
    font-size: 0.8rem;
    color: #151B30;
    padding: 5px;
    margin-bottom: 40px;
}